  
<!DOCTYPE html>
<html>
  <head>
    <title>Packer Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Packer Tracker</h1>
    <form class="jumbotron" action="/packedlist" method="post">

     <label for="item">Enter a packed Item:</label>
     <input id="item" name="item" type="text">

     <button type="submit">Get your list if packed items</button>
    </form>
  </body>
</html>
